<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Inventory.styles.css" asp-append-version="true" />
    <link href="~/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                       <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                          <img src="~/images/Logo.png" alt="Logo"/>
                       </a>
                </span>
                <div class="text logo-text">
                    <span class="name">Store</span>
                    <span class="panel">Control Panel</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Stores" asp-action="Index">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Stores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">
                            <i class="bi bi-box  icon"></i>
                            <span class="text nav-text">Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">
                           <i class="bi bi-people icon"></i>
                            <span class="text nav-text">Customers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Staffs" asp-action="Index">
                            <i class="bi bi-person-badge-fill icon"></i>
                            <span class="text nav-text">Staffs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">
                            <i class="bi bi-file-earmark-text  icon"></i>
                            <span class="text nav-text">Orders</span>
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">
                            <i class='bx bx-cabinet icon'></i>
                            <span class="text nav-text">Categories</span>
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Brands" asp-action="Index">
                            <i class="bi bi-tag icon"></i>
                            <span class="text nav-text">Brands</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
