@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex w-100 vh-100 justify-content-evenly align-items-center flex-column">
    <div class="text-center">
        <h1 class="mt-5 fw-bold"> Welcome to your Management System!</h1>
    </div>
    <div >
    <img src="~/images/Wimg.png" class="w-100"/>
    </div>
     <div class="text-center">
        <h3 class="mt-5 fw-light">Drive Success with Intelligent Store Management Solutions.</h3>
    </div>
</div>
